.inline-block {
  display: inline-block;
  vertical-align: top;
}

.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
}

.logoImg {
  float: left;
}

nav {
  width: 72%;
  padding: 1%;
}

nav ul {
  float: right;
}

.heroImg {
  height: 600px;
  padding: 25px;
}

.heroContent {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

footer {
  background-color: #373738;
  padding: 20px 0px;
}

footer ul {
  display: inline-block;
  vertical-align: top;
}

footer ul li {
  padding: 5px 10px;
  color: #fff;
}

.flexContainer {
  display: flex;
}

.flexContainer div {
  width: 33%;
  padding: 40px;
}

.workGrid {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 700px, 700px;
  grid-template-areas: 
    "project1image  project1content"
    "project2image  project2content";
  align-items: space-between;
}

.project1_img {
  grid-area: project1image;
}

.project1_cont {
  grid-area: project1content;
  margin-left: 40px;
}

.project2_img {
  grid-area: project2image;
}

.project2_cont {
  grid-area: project2content;
  margin-left: 40px;
}

.workGrid img {
  width: 100%;
}

.workGrid button {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
  padding: 8px 24px 8px 24px;
  margin-top: 24px;
}

.workGrid button:hover {
  background-color: #04AA6D;
  color: white;
}

.viewAll {
  text-align: center;
}

@media only screen and (max-width:600px){

  .flexContainer {
  flex-direction: column;
}  

.flexContainer > div {
  width: 100%;
}

.workGrid {
  grid-template-columns: 1fr;
  grid-template-rows: auto, auto, auto, auto;
  grid-template-areas: 
    "project1image"  
    "project1content"
    "project2image"  
    "project2content"
  ;
}

}

/* Accordion Element 1 */

.accordionWrapper {
  max-width: 500px;
}
.accordian1 {
  background-color: #3F3F3F;
  font-size: 18px;
  font-family: helvetica;
  color: white;
  display: flex;
  cursor: pointer;
}
.accordian1 > div {
  padding: 20px;
}
.text {
  width: 93%;
}
.indicator {
  background-color: #545454;
  width: 7%;
  text-align:center;
}
.toggleMe1 {
  background-color: lightgrey; 
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  display: none;
}
.toggleMe1 ul {
  list-style: none;
  padding:0;
  margin: 0;
}
.toggleMe1 ul li {
  font-size: 18px;
  margin:0;
  display: block;
  padding: 20px;
}

/* Accordion Element 2 */

.accordionWrapper {
  max-width: 500px;
}
.accordian2 {
  background-color: #3F3F3F;
  font-size: 18px;
  font-family: helvetica;
  color: white;
  display: flex;
  cursor: pointer;
}
.accordian2 > div {
  padding: 20px;
}
.text {
  width: 93%;
}
.indicator {
  background-color: #545454;
  width: 7%;
  text-align:center;
}
.toggleMe2 {
  background-color: lightgrey; 
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  display: none;
}
.toggleMe2 ul {
  list-style: none;
  padding:0;
  margin: 0;
}
.toggleMe2 ul li {
  font-size: 18px;
  margin:0;
  display: block;
  padding: 20px;
}